.inner {
    width: 1200px;
    margin: 0 auto;
}

.top_banner {
    padding: 40px;
    background: #f7f7f7;
}

.top_banner .inner {
    position: relative;
}

.top_banner i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
}

.top_banner h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.top_banner a {
    padding: 5px;
    background: #333;
    color: #fff;
    margin: 0 0 0 5px;
}

header h1 {
    font-size: 0;
}

header .inner {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

header .inner ul {
    display: flex;
    gap: 40px;
}

header .inner ul>li {
    position: relative;
}

header .inner ul>li~li::before {
    content: "";
    position: absolute;
    top: 44px;
    left: -20px;
    width: 2px;
    height: 12px;
    background: #666;
}

.main_visual {
    position: relative;
}

.main_visual .num {
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0 0 0 600px;
    transform: translateX(-100%);
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 3px #000;

}


.main_visual .slick-track {
    transition-duration: 5ms;
}


.main_visual .main_slide figure {
    height: 700px;
}

.main_visual .main_slide .item01 {
    background: url(../img/mainvisual01.jpg) no-repeat center/cover;
}

.main_visual .main_slide .item02 {
    background: url(../img/mainvisual02.jpg) no-repeat center/cover;
}

.main_visual .main_slide .item03 {
    background: url(../img/mainvisual03.jpg) no-repeat center/cover;
}

.main_visual .main_slide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    font-size: 0;
    /* previous and next button을 보기에서 지움 */
    width: 100px;
    height: 100px;

    background: transparent;
    /* 사각박스 투명하게 */
    border: none;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.main_visual .main_slide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.main_visual .main_slide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.main_visual .main_slide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .main_slide .slick-dots li {
    display: inline-block;
    font-size: 0;
    padding: 10px 0;
    /* Click 범위를 크게 함 */
}

.main_visual .main_slide .slick-dots li button {
    position: relative;
    width: 60px;
    height: 4px;
    background: #333;
    border: none;
    margin: 0 4px;
}


.main_visual .main_slide .slick-dots li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f00;
    /* transition: 2s; */
}

.main_visual .main_slide .slick-dots li.slick-active button::after {
    width: 100%;
    transition: 2s;
    /* 버튼 애니메이션 */
}


.main_visual .main_slide .slick-dots li.slick-active button {
    /* background: #f00; */
}


.main_visual .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    display: flex;
    background: tomato;
    line-height: 40px;
    color: #fff;
    text-align: center;

}

.main_visual .btn li {
    flex: 1;
}

.main_visual .btn li.on {
    background: #f00;
}

.main_visual .btn li~li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}