header {
    text-align: center;
}

header h1 {
    line-height: 100px;
    font-size: 0;
}

header h1 img {
    vertical-align: middle;
}

nav {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

nav ul {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

nav ul li {
    flex: 1;
    border-left: 1px solid#ddd;
}

nav ul li:nth-child(1) {
    border-left: none;
}

nav a {
    display: block;
    line-height: 60px;
}

.main_visual {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    color: #fff;
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
    /* css 디렉토리에서 기준 */
}

.main_visual h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-shadow: 0 0 2px #000;
}

.main_visual p {
    font-size: 15px;
    line-height: 1.45;
    text-shadow: 0 0 2px #000;
}

.main_content {
    padding: 100px 0;
    text-align: center;
}

.main_content h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.main_content p {
    font-size: 15px;
    line-height: 1.45;
    margin: 0 30px 0;
}

.main_content .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.main_content img {
    margin: 0 0 15px 0;
}

.main_content strong {
    display: block;
    margin: 30px;
}

.main_content a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

footer {
    border-top: 1px solid #ddd;
    padding: 30px 0;
    text-align: center;
}