@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

i {
    padding: 15px;
    background: #333;
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
    margin: 0 5px;
}