/* Global CSS 설정 */
:root {
    --mc: #008850;
    --wc: #f9f9f9;
    --dc: #444444;
    /* mc : main color 지정. 사용법: color: var(--mc); */
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.section {
    padding: 100px 0;
    letter-spacing: -0.025em;
    /* 자간 거리를 줄임 */
}

.section h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.section p {
    line-height: 1.45em;
}

.section p.title {
    line-height: 1;
    font-size: 15px;
    margin: 0 0 50px 0;
}

/* 배경 slide */
.top_banner {
    border: 5px solid red;
    position: relative;
    color: var(--wc);
}

.top_banner .top_banner_slide slick-track,
.top_banner .top_banner_slide slick-slide {

    transition: 0.01ms;
}

.top_banner .top_banner_slide a {
    display: block;
    height: 160px;
    font-size: 0;
}

.top_banner .top_banner_slide .item01 {
    background: url(../images/banner_01.png) no-repeat center center/cover;
}

.top_banner .top_banner_slide .item02 {
    background: url(../images/banner_02.jpg) no-repeat center center/cover;
}

.top_banner .top_banner_slide .item03 {
    background: url(../images/banner_03.png) no-repeat center center/cover;
}

.top_banner .close {
    border: 2px solid blue;
    position: absolute;
    top: 40px;
    left: 50%;
    margin: 0 0 0 600px;
    transform: translateX(-100%);
    font-size: 30px;
}
.top_banner .btn_today {
    border: 2px solid red;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 0 600px;
}


/* .top_banner .today_close {
    border: 2px solid red;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin: 0 0 0 600px;
    transform: translateX(-50%);
    width: 150px;
} */

.top_banner .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.top_banner .slick-dots>li {
    display: inline-block;
    font-size: 0;
}

.top_banner .slick-dots>li button {
    border: none;
    outline: none;
    width: 2px;
    height: 13px;
    background: var(--wc);
    margin: 0 5px;
    transition: height 0.3s;
}

.top_banner .slick-dots>li.slick-active button {
    width: 5px;
}

.top_banner .today_close label {
    position: relative;
}

.top_banner .today_close label::after {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    width: 30px;
    height: 30px;
    background: var(--mc);
    background: transparent;
    border: 1px solid #f9f9f9;
}

.top_banner .today_close label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.top_banner .today_close input:checked+label::after {
    border: 1px solid #333;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header .bottom {
    /* border: 5px solid red; */
    position: relative;
    line-height: 80px;
    color: var(--wc);
    background: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid transparent;
}

.header .bottom.on {
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid transparent;
    line-height: 60px;
    color: var(--dc);
    transition: 0.5s;
}

.header h1 {
    position: absolute;
    top: 0;
    left: 50px;
    font-size: 0;
}

.header h1 a {
    display: inline-block;
    width: 188px;
    height: 22px;
    background: url(../images/logo01.png);
    font-size: 0;
    vertical-align: middle;
}

.header .bottom.on h1 a {
    background: url(../images/logo02.png);
}

.header nav {
    width: 1200px;
    margin: 0 auto;
}


.header .right {
    position: absolute;
    top: 0;
    right: 50px;
    display: flex;
    gap: 40px;
}

.header .right .xi-search {
    font-size: 25px;
}

.header .right>li {
    position: relative;
}

.header .right .link {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--wc);
    line-height: 1.45;
    padding: 10px 30px;
    border: 2px solid var(--mc);
    color: var(--dc);
    text-transform: uppercase;
}

.header .right .link.on {
    display: block;
}

.header .global {
    /* padding: 10px; */
    cursor: pointer;
}

.header .bottom.on .link {
    display: none;
}

.gnb>ul {
    display: flex;
    gap: 50px;
}

.main {
    position: relative;
    background: url(../images/main_01.jpg);
    height: 150vh;
}