* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
}