.Wrap {
    border: 3px solid black;
}

.sc {
    padding: 100px 0;
    text-align: center;
}

.sc h2 {
    font-size: 30px;
    font-weight: 900;
    margin: 0 0 10px 0;
}

.sc p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;
}

.sc .inner.flx {
    gap: 30px;
}

.sc .case {
    margin: 0 0 30px 0;
}

.sc strong {
    display: block;
    margin: 0 0 30px 0;
}

header {
    border: 3px solid green;
}

.inner {
    border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}

.inner.flx {
    display: flex;
}

p {
    /* inner 안에 있는 모든 p에 적용됨 */
    line-height: 1.45;
}

.btn {
    display: inline-block;
    border: 1px solid #333;
    background: #333;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.top_banner {
    background: #f9f9f9;
    line-height: 30px;
    font-size: 14px;
}

.top_banner .inner {
    justify-content: space-between;
}

.header {
    line-height: 80px;
    border: 1px solid #ddd;
}

h1 {
    font-size: 0;
}

nav {
    margin: 0 0 0 auto;
}

nav>ul {
    display: flex;
    gap: 40px;
}

.mopen {
    display: none;
}

.main_visual {
    position: relative;
    height: 600px;
    /* 주로 background에서만 높이를 지정한다 */
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.main_visual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 2px #000;
}

.main_visual .inner h2 {
    font-size: 50px;
    font-weight: 900;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.main_visual .inner p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_event .case {}

.footer {
    padding: 30px 0;

}

.footer address {
    margin: 0 0 10px 0;
}






@media (max-width: 768px) {
    .Wrap {
        border: 3px solid black;
    }

    .sc {
        padding: 100px 0;
        text-align: center;
    }

    .sc h2 {
        font-size: 30px;
        font-weight: 900;
        margin: 0 0 10px 0;
    }

    .sc p {
        font-size: 15px;
        font-weight: 300;
        margin: 0 0 50px 0;
    }

    .sc .inner.flx {
        gap: 30px;
    }

    .sc .case {
        margin: 0 0 30px 0;
    }

    .sc strong {
        display: block;
        margin: 0 0 30px 0;
    }

    header {
        border: 3px solid green;
    }

    .inner {
        border: 1px solid red;
        width: auto;
        margin: 0 auto;
    }

    .inner.flx {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    p {
        /* inner 안에 있는 모든 p에 적용됨 */
        line-height: 1.45;
    }

    .btn {
        display: inline-block;
        border: 1px solid #333;
        background: #333;
        padding: 5px 20px;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
    }

    .top_banner {
        position: fixed;
        top: 50%;
        left: 20px;
        right: 20px;
        transform: translateY(-50%, -50%);
        padding: 50px 0;
        background: #f9f9f9;
        line-height: 30px;
        font-size: 14px;
        z-index: 999;
    }

    .top_banner .inner {
        justify-content: space-between;
    }

    .header {
        line-height: 80px;
        border: 1px solid #ddd;
    }

    h1 {
        font-size: 0;
    }

    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;
        background: #fff;
        margin: 0 0 0 auto;
        z-index: 999;
        padding: 150px 15px 0 15px;
    }

    nav.on {
        left: 0;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        line-height: 40px;

    }

    nav>ul>li {
        border-bottom: 1px solid #ddd;
    }

    nav>ul>li>a {
        display: block;
    }

    .mopen {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        font-size: 0px;
        padding: 0 0;
        z-index: 999;
    }

    .mopen::before {
        content: "0";
        font-size: 20px;

    }

    .mopen.on::before {
        content: "X";
        font-size: 20px;

    }

    .main_visual {
        position: relative;
        height: 600px;
        /* 주로 background에서만 높이를 지정한다 */
        background: url(../img/mainvisual01.jpg) no-repeat left center/cover;
    }

    .main_visual .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 0 0 2px #000;
    }

    .main_visual .inner h2 {
        font-size: 50px;
        font-weight: 900;
        margin: 0 0 20px 0;
        text-transform: uppercase;
    }

    .main_visual .inner p {
        font-size: 15px;
        font-weight: 300;
        margin: 0 0 20px 0;
        text-transform: uppercase;
    }

    .main_content .inner {
        flex-direction: column;
        gap: 30px;
    }

    .main_event .case {}

    .footer {
        padding: 30px 0;

    }

    .footer address {
        text-align: center;
        margin: 0 0 10px 0;
    }
}